<!-- Toolbar -->
<mat-toolbar color="primary">
  <span style="font-family:Montserrat;">
    <img src="../assets/Logo.png" width="50" />
    Sec<b>Your</b></span>
  <span class="example-spacer"></span>
  <img width="40" src="{{ userDetail.PhotoURL }}">
  &nbsp;&nbsp;
  <button mat-icon-button class="example-icon settings-icon" aria-label="Example icon-button with heart icon"
    (click)="SignOut()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<div *ngIf="userDetail.UserID == ''" class="text-center">
  <br>
  <br>
  <img src="../assets/Logo.png" width="200">
  <h2>Welcome to Sec<b>Your</b></h2>
  <p>This is a safe space... Feel free to share anything!</p>
  <br>
  <firebase-ui (signInSuccessWithAuthResult)="SignInSuccess($event)" (signInFailure)="SignInError($event)"></firebase-ui>
</div>

<mat-tab-group *ngIf="userDetail.IsLoggedIn" class="tabGroup">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">dashboard</mat-icon>
      View
    </ng-template>
    <div class="my-2">
      <app-upload-form></app-upload-form>
      <app-upload-list></app-upload-list>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">lock</mat-icon>
      SecYour Vault
    </ng-template>
    <div *ngIf="PhoneNumber == null || PhoneNumber == ''; else ElseBlock">
      Please add your phone for authentication
      <input type="phone" id="txtPhone" txtPhone value="{{ PhoneNumber }}"/>
      <div id="recaptcha-container" class="recaptcha-container"></div>
    </div>
    <button (click)="addPhone()">Verify Number</button>
    <ng-template #ElseBlock>
      <app-upload-form [isSecure]="true"></app-upload-form>
      <app-upload-list [isSecure]="true"></app-upload-list>
    </ng-template>
  </mat-tab>
</mat-tab-group>